.style{
    background-color: rgb(1,1,79);
    color: rgb(255,255,255);
}
.line{
    height: 4px;
    background-color: rgb(216,170,0);
}
.color{
    color: rgb(17,17,218);
}
.display{
    display: inline;
}
#intro{
    background-color: rgb(14,172,216);
    color: black;
}
#table{
    border-color: blue;
    width: 400px;
    height: 200px;

}
#form{
    width: 300px;
    margin: 10px;
    padding: 10px;
}
#button{
    width: 150px;
    height: 50px;
    display: inline;
}